
  <div id="category" class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo05">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link categories-item selected-category" href="../home"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#"> Hot Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#">categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#">Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#">Smartphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#">Cameras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link categories-item" href="#">Accessories</a>
            </li>
          </ul>
        </div>

      </nav>
  </div>
  <!-- download-section -->

  <section class="colored-section" id="download-section">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Ali Website App</h1>
          <h4>Download Free, Get it now,</h4>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="/images/mobile.png" style="width:50%" alt="app-download">
        </div>

      </div>

    </div>

  </section>
