<% include header.ejs %>
  <h1>Compose</h1>
  <form class="" action="/" method="post">
    <h3>Title</h3>
    <input type="text" class="form-control" name="Title" value="" required>
    <h3>Post</h3>
    <textarea class="form-control" name="postDetails" rows="8" cols="80" required></textarea>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
<% include footer.ejs %>
