<!-- header -->
<header>
  <div id="top-header">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-phone"></i> +98-912-078-1225 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> aliakbarvafaei.060@email.com</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-telegram" aria-hidden="true"></i> @aliakbar_vafaei_</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-usd" aria-hidden="true"></i> USD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> My Account</a>
          </li>
        </ul>
      </nav>
  </div>
  <div id="header">
    <nav id="header-nav" class="row">
      <div class="col-lg-3 col-md-12 name-site"> AliWebsite. </div>
      <form class="form-inline my-2 my-lg-0 col-lg-5 col-md-12">
          <input id="inputSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button id="buttonSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </input>
      </form>
      <ul class="rightMenu col-lg-3 col-md-12">
        <li class="rightMenu-item" >
          <div id="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Your Wishlist</div>
        </li>
        <li class="rightMenu-item cart-menu dropdown" id="cart">
          <div class="dropdown-toggle" data-toggle="dropdown" id="cart-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Your Cart</div>
          <div class="shopping-cart dropdown-menu">

            <ul class="shopping-cart-items">

            </ul>

            <div class="shopping-cart-footer">
              <i class="fa fa-shopping-cart cart-icon" style="color:#c90124;"></i>
              <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>
                <span class="main-color-text">$2,229.97</span>
              </div>
            </div>
            <button type="submit" class="btn button-cart-menu dark">View Cart</button>
            <button type="submit" class="btn button-cart-menu">Checkout <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
          </div>
        </li>
        <li class="rightMenu-item" id="togglerMenu">
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo05">
            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
            <div id="menuText">Menu</div>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
