<% include header.ejs %>
  <%  let a ="";%>
  <% for(let i=0;i<titlePost.length;i++ ) {%>
    <% if(titlePost[i]=='-'){ %>
      <% a +=" "; %>
    <% }else { %>
      <% a += titlePost[i] ; }%>
  <% } %>

  <% for(let i=0;i<postsinf.length;i++ ) {%>
    <% if(postsinf[i].title==a || postsinf[i].title.toLowerCase()==a){ %>
      <h1> <%= postsinf[i].title %> </h1>
      <p>
        <%= postsinf[i].detail %>
      </p>
      <% break; }} %>
<% include footer.ejs %>
