
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2%;
  font-weight: bold;
}
/* header-nav-section */

.header-nav-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 18.2%;
  color: #2b2d42;
}
.header-nav-section .categories-item{
  color: #8d99ae;
}
.header-nav-section .nav-link:hover,.selected-category{
  color: #c90124 !important;
  border-bottom: 0.15rem Solid #c90124;
  line-height: 1rem;
}

/* Sections */

.colored-section {
  background-color: #e4e7ed;
  color: Black;
}

.white-section {
  background-color: #fff;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding-left: 0 !important;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Top-Header */

#top-header{
  padding: 0% 8%;
  background-color: #1e1f29;
}
#top-header .navbar {
  padding: 0;
}
#top-header .nav-item {
  padding: 0 1rem;
}
#top-header .nav-link{
  font-size: 0.8rem;
  color: white;
}
#top-header .nav-link i{
  color:#c90124;
}
#top-header .nav-link:hover{
  color: #c90124 !important;
}

/* Header */

#header{
  padding: 3% 8%;
  background-color: #15161d;
  line-height: 0rem;
  border-bottom: 0.2rem Solid #d10024;
}
#header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}
.name-site{
   font-weight:bold;
   font-size:2.4rem;
   color:white;
}
#inputSearch {
  width: 20rem;
  margin-right: 0;
  border-radius: 2rem 0 0 2rem;
}
#buttonSearch {
  margin-left: 0;
  border-radius: 0 2rem 2rem 0;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #d10024;
}
.rightMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:2rem;
}
.rightMenu-item{
  width:5.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:0.3rem;
  color: white;
}
#cart-icon,#wishlist{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  font-size:0.85rem;
  word-break: break-all;
  cursor: pointer;
}
#togglerMenu{
  margin-top: 0.5rem;
}
#menuText{
  color: white;
  margin-top: 0.2rem;
  font-size:0.8rem;
}
.dropdown-toggle::after {
    display:none;
}

/* category */

#category{
  padding: 0% 8%;
  border-bottom: 0.2rem Solid #e4e7ed;
  color: Black;
}
.categories-item{
  color: Black;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-left: 1rem;
}
#category .mr-auto{
  margin-left: 0 !important;
}
#category .nav-link:hover,.selected-category{
  color: #c90124 !important;
  border-bottom: 0.15rem Solid #c90124;
  line-height: 1rem;
}

/* Download-section Section */

#download-section {
  text-align: center;
}

#download-section .container-fluid{
  padding: 4% 9% 0%;
}

.title-image {
  position: absolute;
  left: 10%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon-feature {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon-feature:hover {
  color: #ff4c68;
}

/* Testimonial Section for Golden sentences */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

 /* Press for many logo */

#press {
  padding: 3% 0%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* slider Section */

#slider {
  padding: 2% 2%;
}


/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

/*  responsive    */

@media (max-width: 1190px) and (min-width: 992px) {
  #inputSearch{
    width: 15rem;
  }
}
@media (max-width: 490px) {
  #inputSearch{
    width: 10rem;
  }
}
@media (max-width: 992px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
@media (min-width: 992px) {
  #togglerMenu{
    display: none;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}
