.row_posts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:15px;
  padding: 2% 6%;

}
.ToLeft {

    animation: moveToLeft 1s ease-in-out;
    animation-delay: 0ms;
}
@keyframes moveToLeft {
    0% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(-7rem);
    }
}
.ToRight {

    animation: moveToRight 1s ease-in-out;
    animation-delay: 0ms;
}
@keyframes moveToRight {
    0% {
        transform: translateX(-5rem);
    }
    100% {
        transform: translateX(7rem);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-in-left{
    animation: fadeIn 2s forwards,moveToLeft 1s ease-in-out;
    animation-delay: 0ms;
}
.fade-out-left{
    animation: fadeOut 1.3s forwards,moveToLeft 1s ease-in-out;
    animation-delay: 0ms;
}
.fade-in-right{
    animation: fadeIn 2s forwards,moveToRight 1s ease-in-out;
    animation-delay: 0ms;
}
.fade-out-right{
    animation: fadeOut 1.3s forwards,moveToRight 1s ease-in-out;
    animation-delay: 0ms;
}

.card{
  text-align: center;
  border: 1px Solid #D3D3D3	;
  padding: 10px;
  line-height: 30px;
}
.card:hover{
  border-color: #c90124;
  border-width: 2px;
}
.div-add{
  background-color: Black;
  display: none;
  padding: 4% 0%;
  margin: -12px -17px !important;
  border-radius: 5px !important;
}
.card:hover .div-add{
  display: block;
}
.icon-cart{
  display: none;
}
.button-cart{
  padding: 3% 10% !important;
  font-size: 0.8rem !important;
  font-weight: bold !important;
  border-radius: 2rem !important;
  background-color: #c90124 !important;
  border: 2px #c90124 Solid !important;
}
.card:hover .div-add .button-cart:hover{
  background-color: White !important;
  color: #c90124 !important;
  font-weight: bold !important;
}
.card:hover .div-add .button-cart:hover .icon-cart{
  color: #c90124;
  display: inline;
}
.checked{
  color: #FF4D4D;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
}
.bg-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.bg-icons:hover{
  color: #FF4D4D;
  cursor: pointer;
  background-color: #D3D3D3	;
}
.stars{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
